{{#each book}}
    <li>
        <h2 class="title">{{name}}</h2>
        <p class="author">{{author}}</p>
        <p class="years">{{years}}</p>
        <p class="genre">{{genre}}</p>
    </li>
{{/each}}